name: Java CI

on:
  push:
    branches:
      - master

  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: 21
      - name: Build with Gradle
        run: ./gradlew clean build
      - name: Upload artifact
        uses: actions/upload-artifact@v4.4.3
        with:
          name: CommandPrompter
          path: build/libs

  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: 21
      - name: Upload Release Artifact
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:
          gh release upload ${{ env.LATEST_TAG }} build/libs/*.jar


